main {
    margin-top: 20px;
}

.container_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px 10px 15px;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-control {
    width: 280px;
}

.botao {
    width: 270px;
}

.cadastro_texto {
    color: black;
    font-weight: 400;
    font-size: 0.85rem;
    margin-top: 15px;
    margin-bottom: 20px;
}

a {
    color: black;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}