<main>
    <img src="assets/logos/clinica3.png" alt="">
    <nav>
        <hr>
        <a href="">Home</a>
        <hr>
        <a href="" [routerLink]="['/criar-agendamento']" routerLinkActive="router-link-active" >Agendamento</a>
        <hr>
        <a href="">Serviços</a>
        <hr>
        <a href="">Contato</a>
        <hr>
        <a href="" [routerLink]="['/agendamentos']" routerLinkActive="router-link-active"  >Meus Agendamentos</a>  <!--só vai aparecer se tiver logado -->
        <hr>
    </nav>
</main>