main {
    display: flex;
    justify-content: center;
}

.container_main {
    display: flex;
    justify-content: center;
    background-color: white;
    opacity: 80%;
    border-radius: 12px;
    min-width: 250px;
    min-height: 10vh;
    margin-top: 200px;
}