<main>
    <div class="config_container">
        <a (click)="logout()" class="sair"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #000000; transform: scale(1.5);"></i></a>
    </div>
    <div class="container_titulo">
        <h2>Meus Agendamentos</h2>
    </div>

    <table>
        <thead>
            <tr class="linha_titulo">
                <th class="coluna_titulo">Data</th>
                <th class="coluna_titulo">Doutor(a)</th>
                <th class="coluna_titulo">Especilidade</th>
                <th class="coluna_titulo">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="linha" *ngFor="let appointment of appointments">
                <th class="coluna_body">{{ appointment.date }}</th>
                <th class="coluna_body">{{ appointment.doctor.name }}</th>
                <th class="coluna_body">{{ appointment.doctor.specialty }}</th>
                <th class="coluna_body">{{ appointment.status_pt }}</th>
            </tr>
        </tbody>
    </table>

    <div class="botao_container">
        <button [routerLink]="['/criar-agendamento']" routerLinkActive="router-link-active"  class="botao">Novo Agendamento</button>
    </div>
</main>