main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.table {
    width: 100%;
}

.tbody {

}

.linha_titulo {
    display: flex;
    justify-content: space-between;
    background-color: #5f6aff;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.linha {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.linha:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
}

td {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.90rem;
}

th {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.90rem;
}

.config_container {
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
    padding-top: 7px;
}

.container_geral {
    min-width: 700px;
    margin-bottom: 15px;
}

.container_agendamentos {

}

.container_titulo {
    display: flex;
    justify-content: center;
}

.agendamentos {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.agendamento_texto {
    font-size: 0.95rem;
    color: black;
    font-weight: 400;
}

.status_texto {
    color: green;
    font-weight: 600;
}

.botao_container {
    display: flex;
    justify-content: center;
    margin-bottom: 275px;
}

.botao {

}