<main>
    <div class="container_geral">
        <h2>Doutores</h2>
        <div class="container_doutores">
            <p>Selecione por qual Doutor(a) você deseja ser atendido:</p>
            <div> <!-- adicionar ngfor-->
                <input type="checkbox" name="" id="" placeholder="Dr Joao Neves">
            </div>
            <button>Prosseguir</button>
        </div>

        <div class="container_agendamento">
            <h2>Agendamento</h2>
            <div class="informacoes_dr">
                <img src="" alt="">
                <p class="nome">Dr Joao Neves</p>
                <p class="endereco">Rua Nao sei oq</p>
            </div>

            <hr>

            <div class="horario">
                <div class="horarios_disponiveis"> <!-- adicionar ngfor-->
                    <p>17/10</p>
                    <p>sexta feira</p>
                    <p>08:30</p>
                </div>
            </div>
            <button>Agendar</button>
        </div>
    </div>
</main>