body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('assets/background/hispital3.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
}

.titulo {
    font-size: 2.25rem;
    font-weight: 600;
    color: black;
    margin-bottom: 25px;
}

.botao {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    border: none;
    transition: opacity 0.5s ease;
    cursor: pointer;
    padding: 5px 70px;
    font-weight: 600;
}

.botao:hover {
    opacity: 90%;
}